# Copyright (C) 2017 Lukas Berger
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

on post-fs-data

	####################################################
	# paths of input devices
	#

	# TOUCHKEY_POWER_PATH
	chown root system /sys/class/input/input0/enabled
	chmod 0644 /sys/class/input/input0/enabled

	# TOUCHSCREEN_POWER_PATH
	chown root system /sys/class/input/input1/enabled
	chmod 0644 /sys/class/input/input1/enabled

	####################################################
	# paths of system settings
	#

	# MALI_PATH_DVFS
	chown root system /sys/class/misc/mali0/device/dvfs
	chmod 0644 /sys/class/misc/mali0/device/dvfs

	# MALI_PATH_DVFS_GOVERNOR
	chown root system /sys/class/misc/mali0/device/dvfs_governor
	chmod 0644 /sys/class/misc/mali0/device/dvfs_governor

	# MALI_PATH_DVFS_TABLE
	chown root system /sys/class/misc/mali0/device/dvfs_table
	chmod 0644 /sys/class/misc/mali0/device/dvfs_table

	# MALI_PATH_DVFS_MIN_LOCK
	chown root system /sys/class/misc/mali0/device/dvfs_min_lock
	chmod 0644 /sys/class/misc/mali0/device/dvfs_min_lock

	# MALI_PATH_DVFS_MAX_LOCK
	chown root system /sys/class/misc/mali0/device/dvfs_max_lock
	chmod 0644 /sys/class/misc/mali0/device/dvfs_max_lock

	####################################################
	# paths of generic cpu settings
	#

	# POWER_PATH_CPU_HOTPLUG
	chown root system /sys/power/enable_dm_hotplug
	chmod 0644 /sys/power/enable_dm_hotplug

	####################################################
	# paths of cpuset settings
	#

	# CPUSET_PATH_FOREGROUND
	chown root system /dev/cpuset/foreground/cpus
	chmod 0644 /dev/cpuset/foreground/cpus

	# CPUSET_PATH_FOREGROUND_BOOST
	chown root system /dev/cpuset/foreground/boost/cpus
	chmod 0644 /dev/cpuset/foreground/boost/cpus

	# CPUSET_PATH_BACKGROUND
	chown root system /dev/cpuset/background/cpus
	chmod 0644 /dev/cpuset/background/cpus

	# CPUSET_PATH_SYSTEM_BACKGROUND
	chown root system /dev/cpuset/system-background/cpus
	chmod 0644 /dev/cpuset/system-background/cpus

	# CPUSET_PATH_TOP_APP
	chown root system /dev/cpuset/top-app/cpus
	chmod 0644 /dev/cpuset/top-app/cpus/dev/cpuset/top-app/cpus

	# CPUSET_PATH_CAMERA_DAEMON
	chown root system /dev/cpuset/camera-daemon/cpus
	chmod 0644 /dev/cpuset/camera-daemon/cpus

	####################################################
	# paths of cpu-settings for apollo (little cluster)
	#

	# CPU_PATH_L_MAX_FREQ
	chown root system /sys/power/ipa/little_max_freq
	chmod 0644 /sys/power/ipa/little_max_freq

	# CPU_PATH_L1_ONLINE
	chown root system /sys/devices/system/cpu/cpu0/online
	chmod 0644 /sys/devices/system/cpu/cpu0/online

	# CPU_PATH_L2_ONLINE
	chown root system /sys/devices/system/cpu/cpu1/online
	chmod 0644 /sys/devices/system/cpu/cpu1/online

	# CPU_PATH_L3_ONLINE
	chown root system /sys/devices/system/cpu/cpu2/online
	chmod 0644 /sys/devices/system/cpu/cpu2/online

	# CPU_PATH_L4_ONLINE
	chown root system /sys/devices/system/cpu/cpu3/online
	chmod 0644 /sys/devices/system/cpu/cpu3/online

	# CPU_PATH_L1_MAX_FREQ
	chown root system /sys/devices/system/cpu/cpu0/cpufreq/cpuinfo_max_freq
	chmod 0644 /sys/devices/system/cpu/cpu0/cpufreq/cpuinfo_max_freq

	# CPU_PATH_L2_MAX_FREQ
	chown root system /sys/devices/system/cpu/cpu1/cpufreq/cpuinfo_max_freq
	chmod 0644 /sys/devices/system/cpu/cpu1/cpufreq/cpuinfo_max_freq

	# CPU_PATH_L3_MAX_FREQ
	chown root system /sys/devices/system/cpu/cpu2/cpufreq/cpuinfo_max_freq
	chmod 0644 /sys/devices/system/cpu/cpu2/cpufreq/cpuinfo_max_freq

	# CPU_PATH_L4_MAX_FREQ
	chown root system /sys/devices/system/cpu/cpu3/cpufreq/cpuinfo_max_freq
	chmod 0644 /sys/devices/system/cpu/cpu3/cpufreq/cpuinfo_max_freq

	####################################################
	# paths of cpu-settings for atlas (big cluster)
	#

	# CPU_PATH_B_MAX_FREQ
	chown root system /sys/power/ipa/big_max_freq/sys/power/ipa/big_max_freq
	chmod 0644 /sys/power/ipa/big_max_freq

	# CPU_PATH_B1_ONLINE
	chown root system /sys/devices/system/cpu/cpu4/online
	chmod 0644 /sys/devices/system/cpu/cpu4/online

	# CPU_PATH_B2_ONLINE
	chown root system /sys/devices/system/cpu/cpu5/online
	chmod 0644 /sys/devices/system/cpu/cpu5/online

	# CPU_PATH_B3_ONLINE
	chown root system /sys/devices/system/cpu/cpu6/online
	chmod 0644 /sys/devices/system/cpu/cpu6/online

	# CPU_PATH_B4_ONLINE
	chown root system /sys/devices/system/cpu/cpu7/online
	chmod 0644 /sys/devices/system/cpu/cpu7/online

	# CPU_PATH_B1_MAX_FREQ
	chown root system /sys/devices/system/cpu/cpu4/cpufreq/cpuinfo_max_freq
	chmod 0644 /sys/devices/system/cpu/cpu4/cpufreq/cpuinfo_max_freq

	# CPU_PATH_B2_MAX_FREQ
	chown root system /sys/devices/system/cpu/cpu5/cpufreq/cpuinfo_max_freq
	chmod 0644 /sys/devices/system/cpu/cpu5/cpufreq/cpuinfo_max_freq

	# CPU_PATH_B3_MAX_FREQ
	chown root system /sys/devices/system/cpu/cpu6/cpufreq/cpuinfo_max_freq
	chmod 0644 /sys/devices/system/cpu/cpu6/cpufreq/cpuinfo_max_freq

	# CPU_PATH_B4_MAX_FREQ
	chown root system /sys/devices/system/cpu/cpu7/cpufreq/cpuinfo_max_freq
	chmod 0644 /sys/devices/system/cpu/cpu7/cpufreq/cpuinfo_max_freq

	####################################################
	# paths of governor-settings for apollo (little cluster)
	#

	# CPUGOV_PATH_L_ABOVE_HISPEED_DELAY
	chown root system /sys/devices/system/cpu/cpu0/cpufreq/interactive/above_hispeed_delay
	chmod 0644 /sys/devices/system/cpu/cpu0/cpufreq/interactive/above_hispeed_delay

	# CPUGOV_PATH_L_BOOST
	chown root system /sys/devices/system/cpu/cpu0/cpufreq/interactive/boost
	chmod 0644 /sys/devices/system/cpu/cpu0/cpufreq/interactive/boost

	# CPUGOV_PATH_L_BOOSTPULSE
	chown root system /sys/devices/system/cpu/cpu0/cpufreq/interactive/boostpulse
	chmod 0644 /sys/devices/system/cpu/cpu0/cpufreq/interactive/boostpulse

	# CPUGOV_PATH_L_BOOSTPULSE_DURATION
	chown root system /sys/devices/system/cpu/cpu0/cpufreq/interactive/boostpulse_duration
	chmod 0644 /sys/devices/system/cpu/cpu0/cpufreq/interactive/boostpulse_duration

	# CPUGOV_PATH_L_ENFORCED_MODE
	chown root system /sys/devices/system/cpu/cpu0/cpufreq/interactive/enforced_mode
	chmod 0644 /sys/devices/system/cpu/cpu0/cpufreq/interactive/enforced_mode

	# CPUGOV_PATH_L_GO_HISPEED_LOAD
	chown root system /sys/devices/system/cpu/cpu0/cpufreq/interactive/go_hispeed_load
	chmod 0644 /sys/devices/system/cpu/cpu0/cpufreq/interactive/go_hispeed_load

	# CPUGOV_PATH_L_HISPEED_FREQ
	chown root system /sys/devices/system/cpu/cpu0/cpufreq/interactive/hispeed_freq
	chmod 0644 /sys/devices/system/cpu/cpu0/cpufreq/interactive/hispeed_freq

	# CPUGOV_PATH_L_IO_IS_BUSY
	chown root system /sys/devices/system/cpu/cpu0/cpufreq/interactive/io_is_busy
	chmod 0644 /sys/devices/system/cpu/cpu0/cpufreq/interactive/io_is_busy

	# CPUGOV_PATH_L_MIN_SAMPLE_TIME
	chown root system /sys/devices/system/cpu/cpu0/cpufreq/interactive/min_sample_time
	chmod 0644 /sys/devices/system/cpu/cpu0/cpufreq/interactive/min_sample_time

	# CPUGOV_PATH_L_TARGET_LOADS
	chown root system /sys/devices/system/cpu/cpu0/cpufreq/interactive/target_loads
	chmod 0644 /sys/devices/system/cpu/cpu0/cpufreq/interactive/target_loads

	# CPUGOV_PATH_L_TIMER_RATE
	chown root system /sys/devices/system/cpu/cpu0/cpufreq/interactive/timer_rate
	chmod 0644 /sys/devices/system/cpu/cpu0/cpufreq/interactive/timer_rate

	# CPUGOV_PATH_L_TIMER_SLACK
	chown root system /sys/devices/system/cpu/cpu0/cpufreq/interactive/timer_slack
	chmod 0644 /sys/devices/system/cpu/cpu0/cpufreq/interactive/timer_slack

	####################################################
	# paths of governor-settings for atlas (big cluster)
	#

	# CPUGOV_PATH_B_ABOVE_HISPEED_DELAY
	chown root system /sys/devices/system/cpu/cpu4/cpufreq/interactive/above_hispeed_delay
	chmod 0644 /sys/devices/system/cpu/cpu4/cpufreq/interactive/above_hispeed_delay

	# CPUGOV_PATH_B_BOOST
	chown root system /sys/devices/system/cpu/cpu4/cpufreq/interactive/boost
	chmod 0644 /sys/devices/system/cpu/cpu4/cpufreq/interactive/boost

	# CPUGOV_PATH_B_BOOSTPULSE
	chown root system /sys/devices/system/cpu/cpu4/cpufreq/interactive/boostpulse
	chmod 0644 /sys/devices/system/cpu/cpu4/cpufreq/interactive/boostpulse

	# CPUGOV_PATH_B_BOOSTPULSE_DURATION
	chown root system /sys/devices/system/cpu/cpu4/cpufreq/interactive/boostpulse_duration
	chmod 0644 /sys/devices/system/cpu/cpu4/cpufreq/interactive/boostpulse_duration

	# CPUGOV_PATH_B_ENFORCED_MODE
	chown root system /sys/devices/system/cpu/cpu4/cpufreq/interactive/enforced_mode
	chmod 0644 /sys/devices/system/cpu/cpu4/cpufreq/interactive/enforced_mode

	# CPUGOV_PATH_B_GO_HISPEED_LOAD
	chown root system /sys/devices/system/cpu/cpu4/cpufreq/interactive/go_hispeed_load
	chmod 0644 /sys/devices/system/cpu/cpu4/cpufreq/interactive/go_hispeed_load

	# CPUGOV_PATH_B_HISPEED_FREQ
	chown root system /sys/devices/system/cpu/cpu4/cpufreq/interactive/hispeed_freq
	chmod 0644 /sys/devices/system/cpu/cpu4/cpufreq/interactive/hispeed_freq

	# CPUGOV_PATH_B_IO_IS_BUSY
	chown root system /sys/devices/system/cpu/cpu4/cpufreq/interactive/io_is_busy
	chmod 0644 /sys/devices/system/cpu/cpu4/cpufreq/interactive/io_is_busy

	# CPUGOV_PATH_B_MIN_SAMPLE_TIME
	chown root system /sys/devices/system/cpu/cpu4/cpufreq/interactive/min_sample_time
	chmod 0644 /sys/devices/system/cpu/cpu4/cpufreq/interactive/min_sample_time

	# CPUGOV_PATH_B_TARGET_LOADS
	chown root system /sys/devices/system/cpu/cpu4/cpufreq/interactive/target_loads
	chmod 0644 /sys/devices/system/cpu/cpu4/cpufreq/interactive/target_loads

	# CPUGOV_PATH_B_TIMER_RATE
	chown root system /sys/devices/system/cpu/cpu4/cpufreq/interactive/timer_rate
	chmod 0644 /sys/devices/system/cpu/cpu4/cpufreq/interactive/timer_rate

	# CPUGOV_PATH_B_TIMER_SLACK
	chown root system /sys/devices/system/cpu/cpu4/cpufreq/interactive/timer_slack
	chmod 0644 /sys/devices/system/cpu/cpu4/cpufreq/interactive/timer_slack
